/* MedicoForm.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 
.container{
    max-width: 1000px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .titulo{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: crimson;
}

.container .titulo::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .detalhes_usuario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0 12px 0;
}

form .detalhes_usuario .input_box{
  margin-bottom: 15px;
  width: calc(100%/2 - 20px);
}

 .detalhes_usuario .input_box input{
  height: 40px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid;
  padding-left: 15px;
  font-size: 16px;
}

.botao {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


 